<!-- <p>
  social-login !
</p>
<h1>
    Log in with
</h1>
<div class="container">


<button class="btn btn-primary" (click)="socialLogin('facebook')">
    <i class="fa fa-facebook-f"></i> Facebook</button>&nbsp;&nbsp;
<button class="btn btn-danger" (click)="socialLogin('google')">Google</button>&nbsp;&nbsp;          
<button class="btn btn-info" (click)="doTwitterLogin()">Twitter</button>   

 <br>
 <br>
 <br>
 <img *ngIf="currentUser" src="{{currentUser.image}}" alt="">
 <img *ngIf="currentUser && currentUser.user" src="{{currentUser.user.photoURL}}" alt="">
 <br>
 <br>
 <br> -->


{{ currentUser | json }}

<!-- </div> -->


    <div class="container">
        <div class=" shadow p-3 mb-5 bg-white rounded ">  
        <script id="metamorph-1-start" type="text/x-placeholder"></script><script id="metamorph-21-start" type="text/x-placeholder"></script>

    <div class="container text-center">
        <form class="form-signin" data-ember-action="2">
            <h2 class="form-signin-heading">Sign in</h2>

            <small class="text-muted">Connect [your service] with your favorite social network</small>
            <br><br>
            <p>
            <a (click)="socialLogin('facebook')" class="btn btn-primary social-login-btn social-facebook"  href="javascript:;"><i class="fa fa-facebook"></i></a>
            <a (click)="doTwitterLogin()" class="btn btn-primary social-login-btn social-twitter" href="javascript:;"><i class="fa fa-twitter"></i></a>
            </p>
            <p>
            <a class="btn btn-primary social-login-btn social-linkedin"  href="javascript:;"><i class="fa fa-linkedin"></i></a>
            <a  (click)="socialLogin('google')" class="btn btn-primary social-login-btn social-google" href="javascript:;"><i class="fa fa-google-plus"></i></a>
            </p>

            <small class="text-muted">Or sign in with [your service]</small>
            <br><br>
            
            <input id="ember360" class="ember-view ember-text-field form-control login-input" placeholder="Email Address" type="text">
            <input id="ember361" class="ember-view ember-text-field form-control login-input-pass" placeholder="Password" type="password">

            <script id="metamorph-22-start" type="text/x-placeholder"></script><script id="metamorph-22-end" type="text/x-placeholder"></script>

            <button class="btn btn-lg btn-primary btn-block btn-center" type="submit" data-bindattr-3="3" (click)="afterLogin()">Sign in</button>
            <br>
            <small class="create-account text-muted">Dont have a [your service] or social network account? <button id="ember363" class="ember-view btn btn-sm btn-default"> Sign Up </button> </small>
        </form>
    </div>
  </div>

    <!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <input name="first" ngModel required #first="ngModel">
        <input name="last" ngModel>
        <button>Submit</button>
    </form>
    <p>First name value: {{ first.value }}</p>
    <p>First name valid: {{ first.valid }}</p>
    <p>Form value: {{ f.value | json }}</p>
    <p>Form valid: {{ f.valid }}</p> -->