<p>
  social-login !
</p>
<h1>
    Log in with
</h1>
<div class="container">


<button class="btn btn-primary" (click)="socialLogin('facebook')">
    <i class="fa fa-facebook-f"></i> Facebook</button>&nbsp;&nbsp;
<button class="btn btn-danger" (click)="socialLogin('google')">Google</button>&nbsp;&nbsp;          
<button class="btn btn-info" (click)="doTwitterLogin()">Twitter</button>   

 <br>
 <br>
 <br>
 <img *ngIf="currentUser" src="{{currentUser.image}}" alt="">
 <img *ngIf="currentUser && currentUser.user" src="{{currentUser.user.photoURL}}" alt="">
 <br>
 <br>
 <br>


{{ currentUser | json }}

</div>