<p>
  data-table
</p>

<label>Search : </label>
<input style="width: 55%;margin: 3%;" [(ngModel)]="searchText" placeholder="group name here">
<table class="table table-striped" [mfData]="comments" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
        <tr>
            <th style="width: 30%">
                <mfDefaultSorter by="id">id</mfDefaultSorter>
            </th>
            <th style="width: 30%">
                <mfDefaultSorter by="body">body</mfDefaultSorter>
            </th>
            <th style="width: 30%">
                <mfDefaultSorter by="postId">postId</mfDefaultSorter>
            </th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let comment of mf.data | filter : searchText">
                <td style="width: 30%">{{comment.id}}</td>
                <td style="width: 30%">{{comment.body }} {{comment.comment}}</td>
                <td style="width: 30%">{{comment.postId}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
</table>